* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.cuerpo {
 background-color: rgb(241, 237, 237); }

.header {
  color: rgba(0, 0, 255, 0.664);
  background-color: rgba(255, 255, 0, 0.603);
  height: 6em;
  padding-top: 10px;
}
  

.titulo {
color: rgba(0, 0, 255, 0.507);
font-size: 3rem;
padding: 30px; }

.titulo_carr {
  color: rgba(0, 0, 255, 0.507);
  font-size: 3rem;
  padding: 30px;
  background-color: rgba(255, 255, 0, 0.61);
  border-top-left-radius: 25px;     
  border-top-right-radius: 25px;     
}

.titulo1 {
color: rgba(0, 0, 255, 0.507);
font-size: 1rem;
}

.titulo2 {
color: rgb(0, 0, 255);
font-size: 3rem;
}

.formato_prod {
color: rgba(0, 0, 255, 0.507);
font-size: 1rem;
padding-right: 20px;
margin-bottom: 0;
margin-top: 0;
}

.boton_compra{
  margin-bottom: 10px;
}

.carrito{
position: absolute;
right: 10%;
text-align: center;
display: none;
background-color: rgb(253, 253, 192);
border-radius: 25px;
}

.contenido{
text-align: center;
margin: 15px;
max-width: 200px;
background-color: white;
border-radius: 10px;
}

.prod_carr{
display: flex;
  justify-content:space-between;
  padding: 10px;
  align-items:flex-start;
}

.nav_bar{
display: flex;
justify-content: space-between;
align-items: center;
padding-right: 150px;
background-color: aliceblue;
}

.btn-compra{
  margin-bottom: 20px;
}


.total {
  margin: 0;
  padding: 5px;
}