* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; }
  
.cuerpo {
   background-color: #ebebc7; }

.header {
    color: #a76d21;
    background-color: #e6c79f;
  }
    

.titulo {
  color:  #a76d21;
  font-size: 2rem;
  padding: 30px; }

.titulo1 {
  color: #70450c;
  font-size: 1rem;
 }


.carrito{
  background-color: rgb(136, 223, 223);
  border-radius: 10px;
}

.contenido{
  text-align: center;
  margin: 15px;
  max-width: 200px;
  background-color: beige;
 }